@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  background-color: #000;
  color: #33cc33;
  font-family: 'Inconsolata', monospace;
}

button {
  border-color: #FFF;
}